:root{
    --bg--color: #9042f5
}

body{
    background-image: url('privategarden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    /* background-color: var(--bg--color); */
}

.step{
    display: none;
}

.active{
    display: block;
}


.container{
    height: 100vh;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    width: 400px;
    height: 300px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur (10px); 
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.wlabel,.label{
    padding-bottom: 50px;
}
label,input,button{
    font-size: larger;
    border-radius: 20px;
    
}

.result-box{
    width: 320px;
    padding: 40px 20px;
    background: #241b5c;
    border: 3px solid #615b87;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.check-icon{
    width: 60px;
    height: 60px;
    background: #615b87;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    font-size: 28px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#result{
    font-size: 64px;
    font-weight: bold;

}
